charset-normalizer==3.4.2
contourpy==1.1.1
cycler==0.12.1
fonttools==4.57.0
fsspec==2024.6.1
flask
idna==3.10
importlib_resources==6.4.5
kiwisolver==1.4.7
# matplotlib  # 如无图形展示功能，建议移除
mkl-service==2.4.0 # 可以尝试移除
networkx==3.0
numpy==1.24.1
opencv-python-headless==4.11.0.86  # ✅ 改用 headless
packaging==25.0
pandas==2.0.3
pillow==10.2.0
psutil==7.0.0
py-cpuinfo==9.0.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2025.2
scipy==1.10.1
seaborn==0.13.2
six==1.17.0
tqdm==4.67.1
tzdata==2025.2

# ✅ GPU 版 PyTorch 占大空间，可用以下 CPU 替代（若可接受）
# torch==2.4.0+cpu
# torchvision==0.19.0+cpu
# torchaudio 可移除（若不用音频）
# ultralytics==8.3.128
# ultralytics-thop==2.0.14
